<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script>
        $(function(){
            $("#selpos").change(function(){
                var val = $("#selpos").val();
                $.ajax({
                    type:"get",
                    url:"diff_pos?selected=" + val,
                    success:function (obj) {
                        $("#load").empty();
                        for(var i = 0; i < obj.length; i++){
                            var name = obj[i].emp_name + "<br>";
                            $("#load").prepend(name);

                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
    <form action="createPosition" method="post">
        职位名<input name="p_name"><br/>
        职位需求<input name="p_require"><br/>
        职位描述<input name="p_description"><br/>
        职位基本薪资<input type="number" name="p_salary"><br/>
        部门名<input name="depart_name"><br/>
        <input type="submit" value="创建职位">
    </form>

    <form action="deletePosition" method="post">
        <select name="selected" id="selpos">
            <option>请选择职位</option>
            <option th:each="pos : ${positions}"
                    th:text="${pos.p_name}"
                    th:value="${pos.p_id}"></option>
        </select>
        <input type="submit" value="删除选中的职位">
    </form>
    <div id="load">

    </div>
</body>
</html>