<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="generateEmployee" method="post">
    姓名<input name="emp_name" th:value="${theResume.res_name}"><br/>
    性别<input name="emp_gender" th:value="${theResume.res_gender}"><br/>
    出生日期<input name="emp_birth" th:value="${theResume.res_birth}"><br/>
    地址<input name="emp_address" th:value="${theResume.res_address}"><br/>
    电话<input name="emp_phone" th:value="${theResume.res_phone}"><br/>
    职位<input name="position_name"><br/>
    <input type="hidden" name="guest_id" th:value="${theResume.guest.g_id}"/>

    <input type="submit" value="录用员工生成新账号">
</form>
</body>
</html>