<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="saveResume" method="post">
        姓名<input name="res_name"><br/>
        性别<input name="res_gender"><br/>
        出生日期<input name="res_birth"><br/>
        学历<input name="res_education"><br/>
        身高<input name="res_height"><br/>
        体重<input name="res_weight"><br/>
        专业<input name="res_major"><br/>
        婚姻<input name="res_marriage"><br/>
        毕业学校<input name="res_gra_school"><br/>
        身份证<input name="res_idcard"><br/>
        经历<input name="res_experience"><br/>
        地址<input name="res_address"><br/>
        电话<input name="res_phone"><br/>
        <input type="submit" value="保存简历">
    </form>

</body>
</html>