<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.steve.dao.DepartmentDao">
    <insert id="saveDepartment" >
        insert into T_DEPARTMENT (DEP_ID, DEP_NAME, DEP_CREATE_TIME)
        values (DEP_SEQ.nextval, #{dep_name}, #{dep_create_time})
    </insert>
    <update id="updateDepartment">
        update T_DEPARTMENT
        set DEP_NAME = #{dep_name}
        where DEP_ID = #{dep_id}
    </update>
    <delete id="deleteDepartment">
        delete from T_DEPARTMENT
        where DEP_ID = #{dep_id}
    </delete>
    <select id="getDepartmentById" resultType="com.steve.model.Department">
        select *
        from T_DEPARTMENT
        where DEP_ID = #{dep_id}
    </select>
    <select id="getDepartmentByName" resultType="com.steve.model.Department">
        select *
        from T_DEPARTMENT
        WHERE DEP_NAME = #{depart_name}
    </select>
    <select id="getAllDepartments" resultType="com.steve.model.Department">
        select *
        from T_DEPARTMENT
    </select>
    <select id="getDepartmentsNotIncludeEmpId" resultType="com.steve.model.Department">
        select DISTINCT dep.*
        from T_DEPARTMENT dep, T_POSITION pos, T_EMPLOYEE emp
        where dep.DEP_ID!=(select DEP_ID from T_POSITION where P_ID =
        (SELECT P_ID from T_EMPLOYEE where EMP_ID = #{emp_id}))
    </select>
</mapper>