<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.steve.dao.EmployeeDao">
    <insert id="saveEmployee">
        insert into T_EMPLOYEE
        (EMP_ID, EMP_NAME, EMP_PASS, EMP_GENDER, EMP_ADDRESS, EMP_PHONE,
        EMP_SALARY, P_ID, EMP_ACC, EMP_BIRTH, EMP_STATUS, EMP_CREATE_TIME)
        values (EMP_SEQ.nextval, #{emp_name}, #{emp_pass},#{emp_gender},
        #{emp_address},#{emp_phone},#{emp_salary},#{position.p_id},
        #{emp_acc}, #{emp_birth}, #{emp_status}, #{emp_create_time})
    </insert>
    <update id="updateEmployee">
        update T_EMPLOYEE
        set EMP_STATUS = #{emp_status}, P_ID = #{position.p_id}
        where EMP_ID = #{emp_id}
    </update>
    <select id="getEmployeeByDepId" resultMap="emp_pos_dep">
        select emp.*
        from T_EMPLOYEE emp, T_POSITION p, T_DEPARTMENT dep
        where emp.P_ID = p.P_ID and
        p.DEP_ID = dep.DEP_ID and
        dep.DEP_ID = #{dep_id}
    </select>
    <select id="getEmployeeByPos" resultMap="emp_pos_dep">
        select emp.*
        from T_EMPLOYEE emp, T_POSITION p
        where emp.P_ID = p.P_ID and
        p.P_ID = #{selected}
    </select>
    <select id="getAllEmployee" resultMap="emp_pos_dep">
        select emp.*, p.*, dep.*
        from T_EMPLOYEE emp, T_POSITION p, T_DEPARTMENT dep
        where emp.P_ID = p.P_ID and
        p.DEP_ID = dep.DEP_ID
    </select>
    <select id="getEmployeeByEmpId" resultMap="emp_pos_dep">
         select emp.*, p.*, dep.*
        from T_EMPLOYEE emp, T_POSITION p, T_DEPARTMENT dep
        where emp.P_ID = p.P_ID and
        p.DEP_ID = dep.DEP_ID and
        emp.EMP_ID = #{emp_id}
    </select>
    <select id="getEmployeeByNameAndPass" resultMap="emp_pos_dep">
        select emp.*, p.*, dep.*
        from T_EMPLOYEE emp, T_POSITION p, T_DEPARTMENT dep
        where emp.P_ID = p.P_ID and
        p.DEP_ID = dep.DEP_ID and
        emp.EMP_ACC = #{emp_acc} and
        emp.EMP_PASS = #{emp_pass}
    </select>
    <select id="getEmployeeNotLeaving" resultMap="emp_pos_dep">
         select emp.*, p.*, dep.*
        from T_EMPLOYEE emp, T_POSITION p, T_DEPARTMENT dep
        where emp.P_ID = p.P_ID and
        p.DEP_ID = dep.DEP_ID and
        emp.EMP_STATUS in (0, 1)
    </select>
    <resultMap id="emp_pos_dep" type="com.steve.model.Employee">
        <id property="emp_id" column="EMP_ID"/>
        <result property="emp_name" column="EMP_NAME"/>
        <result property="emp_pass" column="EMP_PASS"/>
        <result property="emp_gender" column="EMP_GENDER"/>
        <result property="emp_address" column="EMP_ADDRESS"/>
        <result property="emp_phone" column="EMP_PHONE"/>
        <result property="emp_salary" column="EMP_SALARY"/>
        <result property="emp_acc" column="EMP_ACC"/>
        <result property="emp_birth" column="EMP_BIRTH"/>
        <result property="emp_status" column="EMP_STATUS"/>
        <result property="emp_create_time" column="EMP_CREATE_TIME"/>
        <association property="position" javaType="com.steve.model.Position">
            <id property="p_id" column="P_ID"/>
            <result property="p_name" column="P_NAME"/>
            <result property="p_salary" column="P_SALARY"/>
            <association property="department" javaType="com.steve.model.Department">
                <id property="dep_id" column="DEP_ID"/>
                <result property="dep_name" column="DEP_NAME"/>
                <result property="dep_create_time" column="DEP_CREATE_TIME"/>
            </association>
        </association>

    </resultMap>
</mapper>