<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.steve.dao.GuestDao">
    <select id="getGuestDaoByNameAndPass" resultType="com.steve.model.Guest">
        select * from T_GUEST where G_NAME = #{g_name} and G_PASS = #{g_pass}
    </select>
    <select id="getGuestById" resultType="com.steve.model.Guest">
        select *
        from T_GUEST
        where G_ID = #{guest_id}
    </select>

    <insert id="saveGuest">
        insert into T_GUEST values (GUEST_SEQ.nextval, #{g_name}, #{g_pass})
    </insert>
</mapper>