<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.steve.dao.RecruitmentDao">
    <insert id="saveRecruitment">
        insert into T_RECRUITMENT
        (RECRU_ID, P_ID, RECRU_TIME, RECRU_REQUIRE, RECRU_DESCRIPTION)
        values (RECRU_SEQ.nextval, #{position.p_id}, #{recru_time},
        #{recru_require}, #{recru_description})
    </insert>
    <update id="updateRecruitment">
        update T_RECRUITMENT
        set RECRU_REQUIRE = #{recru_require}, RECRU_DESCRIPTION = #{recru_description},
        RECRU_TIME = #{recru_time}, P_ID = #{position.p_id}
        where RECRU_ID = #{recru_id}
    </update>
    <delete id="deleteRecruitment">
        delete from T_RECRUITMENT
        where RECRU_ID = #{recru_id}
    </delete>
    <select id="getALLRecruitments" resultMap="recru_pos">
        select rec.*, p.*
        from T_RECRUITMENT rec, T_POSITION p
    </select>

    <select id="getRecruitmentById" resultMap="recru_pos">
        select rec.*, p.*
        from T_RECRUITMENT rec, T_POSITION p
        where RECRU_ID = #{rec_id}
    </select>
    <resultMap id="recru_pos" type="com.steve.model.Recruitment">
        <id property="recru_id" column="RECRU_ID"/>
        <result property="recru_description" column="RECRU_DESCRIPTION"/>
        <result property="recru_require" column="RECRU_REQUIRE"/>
        <result property="recru_time" column="RECRU_TIME"/>
        <association property="position" javaType="com.steve.model.Position">
            <id property="p_id" column="P_ID"/>
            <result property="p_name" column="P_NAME"/>
            <result property="p_salary" column="P_SALARY"/>
        </association>
    </resultMap>



</mapper>   